<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
	<appSettings>
		<!--日志生成路径-->
		<add key="EstablishPath" value=""/>
		<add key="FileName" value="今日日志"/>
		<!--上次快捷方式名称-->
		<add key="lastName" value=""/>
	</appSettings>
</configuration>